// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
@import 'variables';

// Tailwindcss
@import 'tailwind';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #636b6f;
}

@media not print {
    .form-checkbox::-ms-check {
        border-width: 1px;
        color: transparent;
        background: inherit;
        border-color: inherit;
        border-radius: inherit;
    }
}

.swal2-actions {
    @apply flex flex-row justify-between px-10;
}

.swal2-confirm {
    @apply px-4 py-2 text-sm font-medium text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md;

    &:hover {
        @apply bg-indigo-700;
    }

    &:focus {
        @apply outline-none border-indigo-700 shadow-outline-indigo;
    }

    &:active {
        @apply bg-indigo-700;
    }
}

.swal2-cancel {
    @apply px-4 py-2 text-sm font-medium text-white transition duration-150 ease-in-out bg-red-600 border border-transparent rounded-md;

    &:hover {
        @apply bg-red-700;
    }

    &:focus {
        @apply outline-none border-red-700 shadow-outline-red;
    }

    &:active {
        @apply bg-red-700;
    }
}

.panel {
    @apply px-20 mt-10
}
